{% extends "modflow_cloud/base.html" %}

{% load staticfiles %}
{% load tethys_gizmos %}

{% block app_content %}
<h2>MODFLOW data</h2>
<p>Below is a list of groundwater models</p>
{{ html |safe}}
<!--{{ test }}-->



<form id='parameters-form' action="{% url 'modflow_cloud:temp' %}" method="post">
{{ temp }}

</form>
{% gizmo button submit_button %}


{% endblock %}


{% block app_navigation_items %}
  <li><a href="{% url 'modflow_cloud:home' %}">Home</a></li>
  <li><a href="{% url 'modflow_cloud:map' %}">Map</a></li>
  <li class="active"><a href="{% url 'modflow_cloud:data' %}">Data</a></li>
  <!--<li><a href="{% url 'modflow_cloud:info' %}">Info</a></li> -->
{% endblock %}


{% block scripts %}
  {{ block.super }}
  <script src="{% static 'modflow_cloud/js/data.js' %}" type="text/javascript"></script>
{% endblock %}
